
* {
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
  background-color: #f7f7f7;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}


.toolbar {
  display: flex;
  justify-content: space-between
}

.panel {
  margin: 16px 0;
}

.search {
  display: flex;
  margin: 16px 0;
}

.search label {
  float: left;
  margin-right: 20px;
}

.search input {
  min-width: 300px;
}

.search button {
  float: right;
}

.search form {
  display: block;
  padding: 0;
  margin: 0;
  background: inherit;
  border: 0;
}