.container {
    display: block;
	text-align: center;
}

.addButton {
    margin: auto !important;
    display: inline-block !important;
}

.addButton a {
    color: white;
    text-decoration: none;
  }